.Work {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .titleContainer {
        display: flex;
        align-items: end;
        gap: 1rem;
        @media (max-width: 640px) {
            flex-direction: column;
            align-items: flex-start;
        }
        h1 {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2rem;
        }
        p {
            font-size: 1.2rem;
            line-height: 1.2rem;
        }
    }
    .tagContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .tag {
            background-color: #f0f0f0;
            padding: 0.2rem 0.5rem;
            border-radius: 4px;
            font-size: 1rem;
            color: #333;
        }
    }
    .article {
        font-size: 1.1rem;
        line-height: 2.2rem;
        margin-bottom: 2rem;

        section {
            margin-bottom: 2rem;
        }
        img {
            margin: auto;
        }
        figcaption {
            display: flex;
            width: 100%;
            justify-content: center;
            font-size: 1rem;
            color: #888;
            margin-bottom: 2rem;
        }
    }
}
