@use '../styles/mixins' as mixins;

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.html {
    overflow-y: scroll;
    opacity: 0;
    animation: fadeIn 3s ease forwards;
    .body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        > div {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            main,
            footer {
                max-width: 1200px;
                width: 90%;
                margin: auto;
            }

            main {
                flex-grow: 1;
            }

            footer {
                border-top: 1px solid black;
                padding: 4rem;
                @include mixins.flex-center;
            }
        }
    }

    * {
        letter-spacing: 0.04em;
    }
    a {
        position: relative;
        color: inherit;
        &::after {
            content: '';
            position: absolute;
            display: block;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: currentColor;
        }
    }
}
