@use '../styles/mixins' as mixins;
.html {
    .body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        main,
        footer {
            max-width: 1200px;
            width: 90%;
            margin: auto;
        }
        main {
            flex-grow: 1;
        }

        footer {
            border-top: 1px solid black;
            padding: 4rem;
            @include mixins.flex-center;
        }
        * {
            font-family: serif;
        }
    }
}
