.container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    .description {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        .title {
            font-size: 1.5rem;
        }
        .slogan {
            font-size: 1rem;
        }
    }
    .work_wrapper {
        a {
            img {
                width: 35%;
            }
        }
    }
}
