.masonryGrid {
    display: flex;
    margin-left: -8rem;
    width: auto;
}

.masonryColumn {
    padding-left: 8rem;
    background-clip: padding-box;

    > div {
        margin-bottom: 10rem;
    }
}

.card {
    &:hover {
        .imageContainer {
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

            img {
                transform: scale(1.04);
            }
        }
    }
    .imageContainer {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        transition: all 0.6s ease;
        img {
            width: 100%;
            display: block;
            transition: transform 0.6s ease;
        }
    }
    .text {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .titleContainer {
            display: flex;
            align-items: end;
            gap: 0.5rem;
            .title {
                font-weight: 500;
                font-size: 2rem;
                line-height: 2rem;
            }
            .time {
                font-size: 1.4rem;
                color: #666;
            }
        }
        .tagContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .tag {
                background-color: #f0f0f0;
                padding: 0.2rem 0.5rem;
                border-radius: 4px;
                font-size: 1.2rem;
                color: #333;
            }
        }
    }
}
