@use '../styles/mixins' as mixins;
@use '../styles/media' as media;

.nav {
    // box-shadow: inset 0 0 1px rgba(0, 0, 0);
    // * {
    //     box-shadow: inset 0 0 1px rgba(0, 0, 0);
    // }
    position: sticky;
    top: 0;
    margin-top: 0rem;
    background-color: var(--background);
    z-index: 1000;
    padding-top: env(safe-area-inset-top);
    > div {
        max-width: 1200px;
        width: 90%;
        margin: 3.4rem auto 0.6rem auto;
        display: flex;
        justify-content: space-between;
        align-items: end;
        height: 4rem;
        gap: 1rem;
        @include media.media(md) {
            height: 2rem;
        }
        a {
            // padding-bottom: 0.5rem;
            flex-grow: 1;
            img {
                transform: translateX(-2px);
                padding: 0rem 0;
                width: 100%;
                max-width: 280px;
                opacity: 0.85;
                @include media.media(md) {
                    max-width: 160px;
                }
            }
            &::after {
                content: none !important;
            }
        }
        div {
            @include mixins.flex-center;
            gap: 1rem;
            hr {
                height: 1.5rem;
                border: none;
                border-left: 1px solid black;
                @include media.media(md) {
                    height: 1rem;
                }
            }
            a {
                text-decoration: none;
                font-size: 1.5rem;
                line-height: 1.5rem;
                font-weight: 500;
                padding: 0.5rem 1rem;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: #f0f0f0;
                    color: var(--text_darken);
                }

                @include media.media(md) {
                    font-size: 1rem;
                    line-height: 1rem;
                    padding: 0.2rem 0.4rem;
                }
            }
        }
    }
}
