.TransitionLayout {
    transition: opacity 1.2s ease, transform 1.2s ease;

    &.idle {
        opacity: 1;
        transform: translateY(0px);
    }

    &.entering {
        opacity: 0;
        transform: translateY(20px);
    }

    &.exiting {
        opacity: 0;
        transform: translateY(20px);
    }
}
